doctype html
html
  head
    title= title
    lmeta(charset='UTF-8')
      title = title
      link(rel='stylesheet' href='/semantic/dist/semantic.min.css')
      link(rel='stylesheet' href='/stylesheets/style.css')
  body
    block content




    block javascrpits
      script(src="/angular/angular.min.js")
